<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="homeMenu"><a href="#home" class="smoothScroll"><img class="navbar-image" src="/assets/img/logo_img.png" alt=""></a></li>
        <li class="metodologyMenu"> <a href="#technergy" class="smoothScroll">Metodología XYZ</a></li>   
        <li class="proyectsMenu"> <a href="#mision" class="smoothScroll">Proyectos</a></li>            
        <li class="hardwarethonMenu"> <a href="#soluciones" class="smoothScroll">Hardwarethon</a></li>
        <li class="cultureMenu"> <a href="#team" class="smoothScroll">Cultura XYZ</a></li>
        <li class="teamMenu"> <a href="#contact" class="smoothScroll">El Equipo</a></li>
        <li class="contactMenu"> <a href="#contact" class="smoothScroll">Contáctenos</a></li>
    </div><!--/.nav-collapse -->
  </div>
</div>