<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="homeMenu"><a href="#home" class="smoothScroll">Imagine X</a></li>
        <li class="metodologyMenu"> <a href="#metodology" class="smoothScroll"><%= polyglot.t('menuMetodology') %></a></li>   
        <li class="proyectsMenu"> <a href="#proyects" class="smoothScroll"><%= polyglot.t('menuProyects') %></a></li>            
        <li class="hardwarethonMenu"> <a href="#hardwarethon" class="smoothScroll"><%= polyglot.t('menuHardwarethon') %></a></li>
        <li class="cultureMenu"> <a href="#culture" class="smoothScroll"><%= polyglot.t('menuCulture') %></a></li>
        <li class="teamMenu"> <a href="#team" class="smoothScroll"><%= polyglot.t('menuTeam') %></a></li>
        <li class="contactMenu"> <a href="#contact" class="smoothScroll"><%= polyglot.t('menuContact') %></a></li>
    </div><!--/.nav-collapse -->
  </div>
</div>
<div class="languageBar">
  <a href="#es"><img class="navbar-image" src="/assets/img/Costa-Rica.png" alt=""></a><br>
  <a href="#en"><img class="navbar-image" src="/assets/img/United-States.png" alt=""></a><br>
</div>